<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4" id="header-bg">
    <div class="container-fluid">
      <a href="/" class="navbar-brand text-white" style="font-weight: bold;">Gundam Characters</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="fas fa-undo-alt"></i>
              <span class="text-white" style="font-weight: bold;">使用者首頁</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/characters/create" class="nav-link">
              <i class="fas fa-plus"></i>
              <span class="text-white" style="font-weight: bold;">新增角色</span>
            </a>
          </li>
          {{/if}}
          <li class="nav-item">
            <div class="nav-link">
              <i class="fas fa-user"></i>
              <span class="text-white" style="font-weight: bold;">{{user.name}}</span>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="text-white" style="font-weight: bold;">登出</span>
            </a>
          </li>
        </ul>
      </div>
      {{/if}}
    </div>
  </nav>
</header>

<div class="chs-title">Backstage Management</div>
<hr>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse"
      aria-controls="categoryCollapse" aria-expanded="false" aria-label="Toggle navigation" id="category-toggler">
      <i class="fas fa-sort-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="categoryCollapse">
      <ul class="nav nav-pills">
        <li class="nav-item" id="chs-category">
          <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
        </li>
        {{#each categories}}
        <li class="nav-item" id="chs-category">
          <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
            href="?categoryId={{this.id}}">{{this.name}}</a>
        </li>
        <li class="nav-item" id="category-delete">
          <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="nav-link" style="color: white;"
              onclick="return confirm(`確定要刪除 {{ this.name }} 嗎?`)">
              <i class="fas fa-times"></i>
            </button>
          </form>
        </li>
        {{/each}}
        <li class="nav-item" id="chs-category">
          <a class="nav-link" id="category-create" data-bs-toggle="modal" data-bs-target="#exampleModal-create"
            style="cursor: pointer;">
            <i class="fas fa-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

{{> category-modal}}
<div class="chs-container">
  <div class="chs-row">
    {{#if characters}}
    {{#each characters}}
    <div class="card mt-4" id="chs-card">
      <div class="img-body">
        <a href="/admin/characters/{{this.id}}">
          <img src="{{this.image}}" class="card-img-top" alt="...">
        </a>
      </div>
      <a href="/admin/characters/{{this.id}}">
        <img src="{{this.avatar}}" class="chs-avatar-img" alt="...">
      </a>
      <div class="card-body" id="chs-body">
        <div class="card-title" style="font-size: 24px;">{{this.name}}</div>
        <div class="card-year">登場: {{this.year}}年</div>
        <div class="card-avatarName">駕駛: {{this.avatarName}}</div>
        <div class="card-category">系列: {{this.Category.name}}</div>
        <div class="card-description">簡介: {{this.description}}</div>
        <div class="d-flex justify-content-end mt-3">
          <div class="edit-modal mx-2" id="edit-btn" data-bs-toggle="modal"
            data-bs-target="#exampleModal-edit{{this.id}}">編輯</div>
          <form action="/admin/characters/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="chs-delete"
              onclick="return confirm(`確定要刪除 {{ this.name }} 嗎?`)">刪除</button>
          </form>
        </div>
      </div>
    </div>
    {{> edit-modal}}

    {{/each}}

  </div>
</div>
<hr>
{{> pagination}}

{{else}}
<div class="text-white">尚無任何資料!</div>
{{/if}}