<div class="card">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{character.image}}" class="img-fluid " alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="card-title-ch">{{character.name}}</div>
        <hr />

        <div class="section">
          <img src="{{character.avatar}}" class="avatar-img" alt="...">
          <div class="card-text">
            <p class="avatar-name">{{character.avatarName}}</p><br>
            <p class="card-year">登場: {{character.year}}年</p>
            <p class="card-category">系列: {{character.Category.name}}</p>
            <p class="card-description">簡介: {{character.description}}</p>
          </div>
        </div>
        <a href="/admin/characters" class="ch-back">
          <i class="fas fa-undo-alt"></i>
          <span>返回</span>
        </a>
      </div>
    </div>
  </div>
</div>