{{> header}}

<div class="chs-title">Characters</div>

<ul class="nav nav-tabs mt-4 mb-3">
  <li class="nav-item" id="ch-tabs">
  <a class="nav-link active" href="/characters">首頁</a>
  </li>
  <li class="nav-ltem" id="ch-tabs">
    <a class="nav-link" href="#">收藏</a>
  </li>
</ul>

<ul class="nav nav-pills">
  <li class="nav-item" id="chs-category">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item" id="chs-category">
    <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}"
      href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
<br>

<div class="chs-row">
  {{#each characters}}
  <div class="card mt-4" id="chs-card">
    <div class="img-body">
      <a href="/characters/{{this.id}}">
        <img src="{{this.image}}" class="card-img-top" alt="...">
      </a>
      <form action="/like/{{this.id}}" method="POST">
        <button class="like-button" type="submit">
          <i class="far fa-heart"></i>
        </button>
      </form>

      <form action="/like/{{this.id}}?_method=DELETE" method="POST">
        <button class="unlike-button" type="submit">
          <i class="far fa-heart"></i>
        </button>
      </form>

    </div>
    <a href="/characters/{{this.id}}">
      <img src="{{this.avatar}}" class="chs-avatar-img" alt="...">
    </a>
    <div class="card-body" id="chs-body">
      <div class="card-title" style="font-size: 24px;">{{this.name}}</div>
      <div class="card-year">{{this.year}}年</div>
      <div class="card-avatarName">{{this.avatarName}}</div>
      <div class="card-category">{{this.Category.name}}</div>
      <div class="card-description">{{this.description}}</div>
    </div>
  </div>

  {{/each}}

</div>
<hr>

<div class="pagination">
  <div class="page-item {{#ifCond pagination.currentPage 1}}{{/ifCond}}">
    <a class="page-link" href="/characters?page={{pagination.prev}}&categoryId={{categoryId}}">
      <i class="fas fa-chevron-left"></i>
    </a>
  </div>
  <div class="page-number">
    {{#each pagination.pages}}
    {{#ifCond this ../pagination.currentPage}}
    <div class="page-item active">
      <a class="page-link" href="#">{{this}}</a>
    </div>
    {{else}}
    <div class="page-item">
      <a class="page-link" href="/characters?page={{this}}&categoryId={{../categoryId}}">{{this}}</a>
    </div>
    {{/ifCond}}
    {{/each}}
  </div>
  <div class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}{{/ifCond}}">
    <a class="page-link" href="/characters?page={{pagination.next}}&categoryId={{categoryId}}">
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>