<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light px-4" id="header-bg">
    <div class="container-fluid">
      <a href="/" class="navbar-brand text-white" style="font-weight: bold;">Gundam Characters</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/characters">
              <i class="fas fa-undo-alt"></i>
              <span class="text-white" style="font-weight: bold;">回首頁</span>
            </a>
          </li>

          <li class="nav-item">
            <div class="search-bar mx-2">
              <form action="/search">
                <div class="input-group">
                  <input type="text" name="keyword" class="form-control" id="search-input" placeholder="請輸入機體名稱"
                    aria-label="Character Name..." value="{{keyword}}" aria-describedby="search-button">

                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="search-button">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link-avatar" href="/users/{{user.id}}" style="text-decoration: none;">
              {{#if user.avatar}}
              <img class="user-avatar" src="{{user.avatar}}" alt="">
              {{else}}
              <img class="user-avatar" src="https://i.imgur.com/iuHA5Qi.jpg">
              {{/if}}
              <span class="text-white" style="font-weight: bold;">{{user.name}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="text-white" style="font-weight: bold;">登出</span>
            </a>
          </li>
        </ul>
      </div>
      {{/if}}
    </div>
  </nav>
</header>

<div class="chs-title">Characters</div>
<br>
{{#if characters.length}}
<div class="text-white">搜尋結果為 {{characters.length}} 筆資料!</div>
{{else}}
<div class="text-white">輸入的關鍵字: {{keyword}} 沒有符合條件的資料!</div>
{{/if}}
<hr>

<div class="chs-row">
  {{#if characters}}
  {{#each characters}}
  <div class="card mt-4" id="chs-card">
    <div class="img-body">
      <a href="/characters/{{this.id}}">
        <img src="{{this.image}}" class="card-img-top" alt="...">
      </a>
      {{#if isLiked}}
      <form action="/like/{{this.id}}?_method=DELETE" method="POST">
        <button class="unlike-button" type="submit">
          <i class="fa fa-heart"></i>
        </button>
      </form>
      {{else}}
      <form action="/like/{{this.id}}" method="POST">
        <button class="like-button" type="submit">
          <i class="fa fa-heart" id="btn-heart"></i>
        </button>
      </form>

      {{/if}}
    </div>
    <a href="/characters/{{this.id}}">
      <img src="{{this.avatar}}" class="chs-avatar-img" alt="...">
    </a>
    <div class="card-body" id="chs-body">
      <div class="card-title" style="font-size: 24px;">{{this.name}}</div>
      <div class="card-year">{{this.year}}年</div>
      <div class="card-avatarName">{{this.avatarName}}</div>
      <div class="card-category">{{this.Category.name}}</div>
      <div class="card-description">{{this.description}}</div>
    </div>
  </div>

  {{/each}}

</div>
<hr>

{{else}}
{{/if}}